<body class="back-ground">
  <div class="edit-info">
    <div class="comment-border">

        <h1>Edit Mural</h1>

        <%= render 'form', picture: @picture %>

        <%= link_to 'Back', @picture %> |
        <%= link_to 'Home', pictures_path %>
    </div>
  </div>
</body
