<!-- <p id="notice"><%= notice %></p> -->
<body class="back-ground">
<div class="entire">
  <div class="header">
    <div class="nav">
      <div class="text">
        <%= image_tag ( "logo.png") %>
      </div>
    </div>
  </div>

  <div>
    <% @pictures.each do |picture| %>
    <%= link_to( image_tag(picture.url, class: "image-view"), picture_path(picture) ) %>
    <% end %>
  </div>

  <br>

<div class="upload">
  <%= link_to new_picture_path do %>
  <i>+ your mural</i>
  <% end %>
</div>

</div>
</body>
