<p id="notice"><%= notice %></p>
<body class="back-ground">
  <div class="entire">
    <div class="header">
      <div class="nav">
        <div class="text">
          <%= image_tag ( "logo.png") %>
        </div>
      </div>
    </div>

    <div class="outer-div ">
      <div class="left-div grid">
        <% @pictures.each do |picture| %>
          <%= link_to( image_tag(picture.url, class: "image-view"), picture_path(picture), class: 'grid-item' ) %>
        <% end %>
      </div>
    </div>

    <br>

    <div class="upload">
      <%= link_to new_picture_path do %>
      <i class="fa fa-plus-square-o" aria-hidden="true"></i>

      <% end %>
    </div>

  </div>
</body>
