<nav class="home-menu">
  <ul>
    <%= link_to 'Home', pictures_path %></li>
  </ul>
</nav>
<body class="back-ground">
<div class="entire">
  <div class="header">
    <div class="nav">
      <div class="text">
        <%= image_tag ( "logo.png") %>
      </div>
    </div>
  </div>


<div class="new-info">

  <div class="comment-border">


    <h1>New Mural</h1>

    <%= render 'form', picture: @picture %>

    <%= link_to 'Back', pictures_path %>

  </div>

</div>

</body>
