/*reset*/


/*murall main css*/

.outer-div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.left-div {
  flex-direction: row;
  width: 100%;
}

.back-ground {
  background-image: url("https://www.xmple.com/wallpaper/gradient-white-grey-linear-1920x1080-c2-ffffff-d3d3d3-a-240-f-14.svg");
  background-repeat: no-repeat;
}
 .image-view {
  max-width: 100%;
  border: 2px solid black ;
  float: left;
  width: 100%;
 }

 .entire {
   width: 100%;
   margin: 0px;
 }

 .header {
   background-image: url("/images/brick.jpg");
   background-size: cover;
   margin-bottom: 10px;
 }
 .upload {
     position: fixed;
     right: 25px;
     bottom: 15px;
     background: white;
     width: 80px;
     border-radius: 20%;
     height: 80px;
 }
 .upload {
   text-align: center;
   font-family: 'forum', cursive;
   font-size: 70px;
 }

.text {
 text-align: center;
}

.main {
  background-color: #e7e7e8;
  display: flex;
  height: 100vh;
}


/*murall2 css*/

.show_main {
  background-color: black;
  /*height: 100vh;*/
  /*width: 100vw;*/
}

.grid-item {
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCC8C2;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    opacity: 0;
    cursor: e-resize;
    &:hover {
      opacity: 0.6;
    }
  }


}

.image img {
  width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

// .artist {
//   color: #FFFFFF;
//   font-family: 'Poiret One', cursive;
//   font-family: 'Dancing Script', cursive;
//   font-family: 'Grand Hotel', cursive;
//   text-decoration: none;
//   padding-top: 50px;
//   text-align: center;
// }

a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.pic-info a:vistied {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #FF69B4;
}

// .artist a {
//   color: white;
//   font-size: 70px;
//   text-decoration: none;
// }
//
// .artist a:hover {
//   color: #FF69B4;
//   background-color: transparent;
//   text-decoration: none;
// }

.upload i {
  color: #4D5359;
  font-size: 80px;
}

.upload i:hover {
  color: #FF69B4;
  background-color: transparent;
  text-decoration: none;
}

.pic-info {
  color: #C4CAD0;
  font-family: 'Forum', cursive;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.user-border {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  padding-top: 10px;
}

.center {
  text-align: center;
}

.home-menu {
  padding-right: 20px;
  font-size: 18px;
  font-family: 'Forum', cursive;
  font-weight: bolder;
  color: #A4969B;
}

.login-user, .logged-user {
    position: absolute;
    right: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'Forum', cursive;
    font-weight: bolder;
}
.form-group{
  text-align: center;
}
.form-group input {
    border-radius: 3px;
    border: none;
    width: 375px;
    text-align: center;
    height: 30px;
}
center.submit {
  padding: 10px;
}

.pic-info .title {
  font-size: 80px;
  font-family: 'Poiret One', cursive;
  // font-family: 'Dancing Script', cursive;
  color: #A4969B;
  padding-bottom: 20px;
}

.commtitle {
  font-size: 40px;
  // font-family: 'Poiret One', cursive;
  font-family: 'Dancing Script', cursive;
  padding-top: 20px;
  padding-bottom: 20px;
}

.comment-border {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 500px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.comment-group input[type=text] {
  border-radius: 3px;
  border: none;
  width: 150px;
  height: 30px;
}


.time-font {
  font-size: 12px;
}

::-webkit-input-placeholder {
  text-align: center;
  padding-top: 10px;
}

.extra-padding {
  padding-top: 20px;
}

.pic-info h3 {
  font-family: 'Forum', cursive;
  font-size: 30px;
}

.pic-info p {
  font-family: 'Forum', cursive;
  color: #A4969B;
}

.pic-info p strong {
  font-size: 20px;
}

.pic-info a {
  color: white;
  font-size: 16px;
}

.pic-info a:hover {
  color: #4D5359;
}

textarea, input {
  color: black;
}

.grid-item {
  float: left;
  width: 33.3%;
  min-width: 250px;
}

.edit-info {
  font-family: 'Forum', cursive;
  color: black;
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}

.edit-info h1 {
  color: #FF69B4;
}

.edit-info a {
  color: #4D5359;
}

.edit-info a:hover {
  color: #FF69B4;
}

.new-info {
  font-family: 'Forum', cursive;
  color: black;
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}

.new-info h1 {
  color: #FF69B4;
}
