/*reset*/


/*murall main css*/

.outer-div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.left-div {
  flex-direction: row;
  width: 100%;
}

.back-ground {
  background-image: url("https://www.xmple.com/wallpaper/gradient-white-grey-linear-1920x1080-c2-ffffff-d3d3d3-a-240-f-14.svg");
  background-repeat: no-repeat;
}
 .image-view {
  max-width: 100%;
  border: 2px solid black ;
  float: left;
  width: 100%;
 }

 .entire {
   width: 100%;
   margin: 0px;
 }

 .header {
   background-image: url("brick.jpg");
   background-size: cover;
   margin-bottom: 10px;
 }

 .upload {
   text-align: center;
   font-family: 'forum', cursive;
   font-size: 70px;
 }

.text {
 text-align: center;
}

.main {
  background-color: #e7e7e8;
  display: flex;
  height: 100vh;
}


/*murall2 css*/

.show_main {
  background-color: black;
  /*height: 100vh;*/
  /*width: 100vw;*/
}

.image img {
  width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.artist {
  color: #FFFFFF;
  font-family: 'Poiret One', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Grand Hotel', cursive;
  text-decoration: none;
  font-size: 70px;
  padding-top: 50px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.pic-info a:vistied {
  color: white;
}

a:hover {
  text-decoration: none;
}

.artist a:hover {
  color: #FF69B4;
  background-color: transparent;
  text-decoration: none;
}

.upload a:hover {
  color: #FF69B4;
  background-color: transparent;
  text-decoration: none;
}

.pic-info {
  color: #C4CAD0;
  font-family: 'Forum', cursive;
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}

.user-border {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: inherit: 500px;
  margin: 0 auto;

}

.comment-border {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 300px;
  width: 300px;
  margin: 0 auto;
}

.pic-info h3 {
  font-family: 'Forum', cursive;
  font-size: 30px;
}

.pic-info p {
  font-family: 'Forum', cursive;
  color: #A4969B;
}

.pic-info p strong {
  font-size: 20px;
}

.pic-info a {
  font-size: 14px;
}

textarea, input {
  color: black;
}

.grid-item {
  float: left;
  width: 33.3%;
  min-width: 250px;
}
