/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.header {
  background-image: url("brick.jpg");
  background-size: cover;
  height: 200px;
}

.text {
 text-align: center;
}

.main {
  background-color: #e7e7e8;
  display: flex;
  height: 100vh;
}

.pic5{
  width: 99%;
  padding-top: 8px;
}

.left {
 width: 50%;
}

.right {
 width: 50%;
 padding-top: 8px;

}

.row1 {
display: flex;
}


.row2 {
  display: flex;
}

.pic {
  width: 50%;
}

.pic>img{
  width: 98%;
}

/*murall2 css*/

.show_main {
  background-color: black;
  height: 100vh;
}

 .image {
  padding-top: 50px;
  margin: 0 auto;
  width: 500px;
}

.show_image {
  width: 100%;
}

.artist {
  color: #FFFFFF;
  font-family: 'Poiret One', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Grand Hotel', cursive;
  text-decoration: none;
  font-size: 70px;
  padding-top: 50px;
  text-align: center;
}

.a:hover {
  color: #FF69B4;
  background-color: transparent;
}
