body {
  background-color: #141518;
  color: #F2F2F2;
  margin: 33px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

::selection {
  background: #1bb76e;
}

#topbar {
  width: 100%:auto;
  background-color: #34373c;
  font-size: 15px;
  height: 50px;
  z-index: 101;
  position: relative;
  top: 0;
}

a.topbar-icon, #topbar, span.topbar-icon {
  cursor: pointer;
  color: #f2f2f2;
  text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

#topbar .logo {
  display: block;
  float: left;
  padding: 1px 11px 1px 13px;
  margin-top: 7px;
  border-radius: 20px;
  margin-left: -10px;
}

#topbar .logo-icon {
  float: left;
  background url center center no-repeat;
  width: 83px;
  height: 34px;
  background-size: contain;
}

.header-center {
  width: 1048px;
  margin:auto;
  position: relative;
}

p, ol, ul, td {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #141518;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
